<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>uk.ac.westminster.smartcampus.api.resources.DiscoveryResource,uk.ac.westminster.smartcampus.api.mappers.RoomNotEmptyExceptionMapper,uk.ac.westminster.smartcampus.api.mappers.LinkedResourceNotFoundExceptionMapper,uk.ac.westminster.smartcampus.api.mappers.SensorUnavailableExceptionMapper,uk.ac.westminster.smartcampus.api.mappers.ThrowableExceptionMapper,uk.ac.westminster.smartcampus.api.filters.ApiLoggingFilter,org.glassfish.jersey.jackson.JacksonFeature</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
